<h1> Order Members  </h1>

<h2>Order Members: <%= @members.length %></h2>


<% @members.each do |member| %>
  <p>Name: <%= member.name %></p>
  <p>Role: <%= member.role %></p>
  <p>House: <%= member.house %></p>
  <p>Patronus: <%= member.patronus %></p>
<% end  %>
